canvas{
    touch-action: none; /* Do not scroll around the webpage while drawing */
}

canvas[resize]{
    width: 100%;
    height: 100%;
    display: block;
}

.course-class{
    background-color:lightgray;
    flex: 1; /* Takes up all remaining vertical space dynamically */
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* Keeps the paper.js canvas bounded */
    margin-top:20px; /* Gap at the top of the page */
}
