.toolbar-main-class{
    display: flex; /* Compact and scalable tool bar with buttons */
    flex-wrap: wrap; /* Wraps if the screen gets too narrow */
    gap: 2px;
    padding: 2px;
    border-radius: 2px;
}

.toolbar-main-class button{
    width: auto;
    flex: 1 1 auto; /* Allows buttons to shrink and grow fluidly */
    min-width: 60px; /* Keeps the buttons from getting squished (quish that cat)*/
    padding: 4px 8px;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.2;
}

.toolbar-main-class button.active{
    background-color: #e20cb7 !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.toolbar-hidden {
    display: none !important;
}